.content {
	flex: 1 1 auto;
	transition: 0.5s;

	&__title {
		@extend %h1;
		@extend %text-shadow;
	}

	&__title-second {
		display: block;
		font-size: inherit;
		font-weight: inherit;
		color: $color-text;
		line-height: 120%;
	}

	&__comment {
		margin-top: 10px;
		padding: 10px;
		background-color: $color-menu;
		text-align: center;
		@extend %h2;

		@include onTablet {
			text-align: left;
			padding: 15px;
			margin-top: 30px;
		}

		@include onDesctop {
			margin-top: 40px;
		}
	}

	&__info {
		margin-top: 20px;
		@include onTablet {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__avatar {
		position: relative;
		left: 50%;
		transform: translateX(-50%);

		@include onTablet {
			left: 0;
			transform: translateX(0);

			margin: 0 5%;
		}

		@include onDesctop {
			margin: 0 7%;
		}
	}

	&__text {
		@include onTablet {
			width: 60%;
		}
	}

	&__subtitle {
		font-size: 1.2em;
		color: $color-text-second;
		@extend %text-shadow;
	}

	&__text-about {
		background-color: $color-menu;
		text-align: justify;
		font-size: 0.8em;

		@include onTablet {
			font-size: 1em;
		}

		@include onDesctop {
			font-size: 1.1em;
		}
	}

	&__contact {
		margin-top: 10px;

		@include onDesctop {
			margin-top: 30px;
		}

		@include onDesctop {
			margin-top: 40px;
		}
	}

	&__item {
		border: 1px solid $color-menu-cross;
		&:not(:last-child) {
			margin-bottom: 25px;
		}

		@include hover(background-color, $color-aside);
	}

	&__link {
		padding: 10px;
		display: inline-block;
		text-decoration: none;
		color: #000;
	}

	&__works {
		display: grid;
	
		justify-content: center;
		row-gap: 10px;
		column-gap: 30px;
		grid-template-columns: repeat(1, 200px);
		margin: 30px 35px;
		@media (min-width: 510px) {
			grid-template-columns: repeat(2, 200px);
		}

		@include onTablet {
			grid-template-columns: repeat(2, 200px);
			@media (min-width: 710px) {
				grid-template-columns: repeat(2, 300px);
			}
		}

		@include onDesctop {
			grid-template-columns: repeat(3, 300px);
			margin: 30px 55px;
		}
	}

	&__work {
		display: block;
		@include square(200px);
		background-color: $color-aside;

		position: relative;

		@media (min-width: 710px) {
			@include square(300px);
		}
	}

	@for $number from 1 through 6 {
		&__work-link-#{$number} {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@include hover(opacity, 0.5);
		}
	}
}

.slide {
	transform: translateX(-100%);
}

.scroll {
	overflow: hidden;
}
