.icon {
	display: flex;
	gap: 20px;

	margin-top: 50px;
	&__link {
		display: block;
		@include square($size-burger);

		transition: 0.3s;
		@include hover(transform, scale(1.5));
	}

	$icons:
		"telegram" url(../images/icons/telegram.png),
		"facebook" url(../images/icons/facebook.png),
		"linkedin" url(../images/icons/linkedin.png),
		"github" url(../images/icons/github.png);

	@each $name, $icon in $icons {
		&__link-#{$name} {
			background: $icon center/cover no-repeat;
		}
	}
}
